.navar_mystyle{
	border:none!important;
	background:#fff !important;
}
.navigation_style{
	padding:0 0 0 50px;
	float:right;
}
.navigation_style li a{
	color:#027297!important;
	font-weight:bold;
	
}

.navigation_style li a:hover{
	background:#90c036!important;
	color:#fff!important;
}